<!DOCTYPE html>
<html>
<head>
    <title>Scena9 Live Scanner</title>
</head>
<body>
    <h1>Events</h1>

{% for date in grouped_events.keys() %}

    {% if date == today %}
        <h2>📅 Today</h2>
    {% elif date == today + timedelta(days=1) %}
        <h2>📅 Tomorrow</h2>
    {% else %}
        <h2>{{ date.strftime("%A, %d %B %Y") }}</h2>
    {% endif %}

    {% for event in grouped_events[date] %}
        <div>
            <h3 style="margin-bottom: 0;"> <a href="{{ event.source }}"> {{ event.title }}</a></h3>
            <p style="margin-bottom: 0;">{{ event.date.strftime("%H:%M") }}, {{ event.venue }}</p>
            {% if event.details %}
            <p style="white-space: pre-line; margin-top: 0;">
                {{ event.details }} (...)
            </p>
            {% endif %}
        </div>
    {% endfor %}

    <hr>

{% endfor %}
</body>
</html>